*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:rgb(212, 144, 144);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.contenedor{
    width:90%;
    max-width:900px;
    background:#1e293b;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    text-align:center;
}

h1{
    color:#facc15;
    margin-bottom:20px;
    font-size:2.5rem;
}

h2{
    margin:15px 0;
}

h3{
    margin:10px 0;
}

p{
    line-height:1.6;
    margin-bottom:15px;
}

.instrucciones{
    text-align:left;
    width:80%;
    margin:auto;
    line-height:1.8;
}

input{
    width:80%;
    max-width:400px;
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:16px;
    text-align:center;
}

button{
    background:#facc15;
    color:black;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    margin:8px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#fde047;
}

#opciones{
    margin-top:20px;
}

#opciones button{
    display:block;
    width:80%;
    margin:10px auto;
}

progress{
    width:100%;
    height:25px;
    margin:15px 0;
}

progress::-webkit-progress-bar{
    background:#334155;
    border-radius:20px;
}

progress::-webkit-progress-value{
    background:#22c55e;
    border-radius:20px;
}

#temporizador{
    color:#f87171;
    font-size:22px;
}

#contadorPreguntas{
    color:#60a5fa;
}

#puntaje{
    color:#22c55e;
    font-size:24px;
    font-weight:bold;
}

#resultado{
    color:#22c55e;
    font-size:30px;
}

#medalla{
    color:#facc15;
    font-size:28px;
    margin:20px 0;
}

#ranking{
    background:#334155;
    padding:20px;
    border-radius:15px;
    margin-top:15px;
}

#ranking p{
    padding:10px;
    margin:10px 0;
    background:#475569;
    border-radius:10px;
    font-size:18px;
}

hr{
    margin:25px 0;
    border:1px solid #475569;
}

@media(max-width:768px){

    .contenedor{
        width:100%;
        padding:20px;
    }

    h1{
        font-size:2rem;
    }

    input{
        width:100%;
    }

    #opciones button{
        width:100%;
    }

    .instrucciones{
        width:100%;
    }
}